.search-body{
    background-color:#2D68C4;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.search-btn {
    background-color: white;
    color: #2D68C4;
    font-weight: bolder;
    font-size: medium;
    font-family: "Gloria Hallelujah";
    border-style: none;
    border-radius:40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.search-btn:hover {
    background-color: #F2A900;
    color: #2D68C4;
}

.search-btn-list {
    position: relative;
    top: 8vh;
    right: 7vh;
    align-self: flex-end;
}

#search-title-name{
    position: relative;
    top: 8%;
    font-family: "Gloria Hallelujah";
    font-size: 65px;
    color:white;
}

#search-title-name:hover{
    color:rgb(214, 213, 213);
}

