.comments{
    /* color:blue; */
    background-color: white;
    padding: 5%;
}

.btn-lst {
    margin: 5px;
    /* width: 50%; */
    /* margin-left: auto;
    margin-right: auto; */
}

.txt-box {
    width: 100%;
}