.course-title {
    /* position: sticky; */
    /* top: 5%; */
    color: white;
    font-family: "Gloria Hallelujah";
}

.instructor {
    color: white;
}

.term-under-instructor{
    list-style-type: none; 
}

.lnk{
    color: white;
}
.lnk:hover {
    color: #F2A900;
}

a {
    color: white;
  }
a:visited {
    color: gainsboro;
}
a:hover {
    color: #F2A900;
}

#home-lnk{
    position: absolute;
    top: 2%;
    right: 2%;
}
